<html lang="en">
<head>
    <title>Pomelo Vue</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://fonts.googleapis.com" rel="preconnect" crossorigin="">
    <link href="https://fonts.gstatic.com" rel="preconnect" crossorigin="">
    <link href="https://maxcdn.bootstrapcdn.com" rel="preconnect" crossorigin="">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600|Roboto Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Dosis:500&text=Vue.js&display=swap" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="/assets/css/site.css" rel="stylesheet" />
    <script>
        var PueOptions = {
            mobile() {
                return false;
            }
        };
    </script>
    <script src="/assets/js/pue.js"></script>
</head>
<body class="docs">
    <div id="mobile-bar">
        <a class="menu-button"></a>
        <a class="logo" href="/"></a>
    </div>
    <div>
        <header id="header">
            <a id="logo" href="/">
                <img src="/assets/img/logo.png" style="border-radius: 5px" alt="Pue">
                <span>Pomelo Vue</span>
            </a>
            <ul id="nav">
                <li class="nav-dropdown-container learn">
                    <a class="nav-link current">Learn</a>
                </li>
            </ul>
        </header>
    </div>

    <div id="main" class="fix-sidebar">
        <div class="sidebar">
            <div class="sidebar-inner">
                <div class="list">
                    <ul class="menu-root">
                        <template v-for="group in catalog">
                            <li><h3>{{ group.group }}</h3></li>
                            <li v-for="page in group.pages">
                                <a v-bind:href="'/docs/' + page.id" class="sidebar-link" v-bind:class="{ current: id === page.id }">{{ page.title }}</a>
                            </li>
                        </template>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content guide with-sidebar list-guide">
            <render-body></render-body>
        </div>

    </div>
</body>
</html>
